* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 12px;
  margin: 0px;
}

body header {
  background-color: #e4ad38;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0px 80px;
}

body header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 15px;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header ul li {
  color: #292828;
}

body header input {
  padding: 0px 50px;
  width: 200px;
  height: 40px;
  border-radius: 30px;
  position: relative;
}

body header button {
  color: white;
  background-color: #145659;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

body header button:hover {
  background-color: #0d3738;
  color: white;
}

body header span {
  color: black;
  background-color: white;
  border-radius: 30px;
  position: absolute;
  right: 100px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 40px;
}

body header .brandLogo img {
  width: 100px;
}

.container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.main-form {
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  color: #353436;
}

input {
  height: 30px;
  border-radius: 5px;
  border: 2px solid #928d97;
  width: 300px;
  padding-left: 15px;
}

.inputs {
  padding-top: 5px;
}

.img {
  width: 100px;
  height: 100px;
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: white;
}

.alrdyhvacct {
  font-size: 16px;
  text-align: center;
}

h2 {
  text-align: center;
}

.signupbtn {
  background-color: #e4ad38;
  width: 100%;
  height: 40px;
  border: 1px solid #e4ad38;
  border-radius: 30px;
  color: #fff;
  font-family: lato;
  font-size: 18px;
  cursor: pointer;
}

.signupbtn:hover {
  background-color: #148b42;
  color: white;
}

.btnctner {
  padding: auto;
}

.agrfont {
  font-size: 14px;
}

.btn-primary {
  background-color: #148b42;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 194px;
}

.btn-primary:hover {
  background-color: #e4ad38;
  color: white;
}

@media screen and (max-width: 768px) {
  header ul {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */